/* Use your own code or past solution for Great Idea Web Page CSS here! */

a {
  text-decoration: none;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

header nav {
  display: flex;
  width: 73%;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

header nav a {
  color: grey;
}

.top-row {
  display: flex;
  padding-bottom: 50px;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.top-row-col {
  width: 30%;
}

.top-row h1 {
  font-size: 60px;
  margin: 0 auto 20px;
  font-style: italic;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: -7px;
}

.top-row img {
  width: 100%;
}

.top-row button {
  padding: 3px 25px;
  background: #fff;
  border: 1px solid #000;
}

.top-row button:hover {
  cursor: pointer;
}

.details-section {
  padding: 20px 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.details-row1,
.details-row2 {
  display: flex;
  justify-content: space-between;
}

.details-section h2,
address h3 {
  font-style: italic;
  font-size: 12px;
  text-transform: uppercase;
}

.details-row1 .details-col {
  width: 47%;
}

.details-section .middle-img {
  width: 100%;
  margin: 20px 0;
}

.details-row2 .details-col {
  width: 30%;
}

address {
  font-size: 14px;
  line-height: 15px;
  font-style: normal;
}

.copyright {
  text-align: center;
  font-size: 12px;
}
